{#
    This template is used to render errors of type HTTP 500 (Internal Server Error)
    See http://symfony.com/doc/current/cookbook/controller/error_pages.html
#}

{% extends 'base.html.twig' %}

{% block body %}
    <div>500 Error</div>
{% endblock %}