{#
    This template is used to render errors of type HTTP 404 (Not Found)
    See http://symfony.com/doc/current/cookbook/controller/error_pages.html
#}

{% extends 'base.html.twig' %}

{% block body %}
    <div>404 Error</div>
{% endblock %}