{#
    This template is used to render errors of type HTTP 403 (Forbidden)
    See http://symfony.com/doc/current/cookbook/controller/error_pages.html
#}

{% extends 'base.html.twig' %}

{% block body %}
    <div>403 Error</div>
{% endblock %}