{#
    This template is used to render any error different from 403, 404 and 500.
    See http://symfony.com/doc/current/cookbook/controller/error_pages.html
#}

{% extends 'base.html.twig' %}

{% block body %}
    <div>{{ status_code }}</div>
{% endblock %}
