{% spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="format-detection" content="address=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui" />

        <!-- fonts collection 8 -->
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic' rel='stylesheet' type='text/css' />

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% stylesheets
            "@AppBundle/Resources/assets/vendor/bootstrap/dist/css/bootstrap.min.css"
            "@AppBundle/Resources/assets/vendor/font-awesome/css/font-awesome.min.css"
            "http://unionagency.one/modesto/css/bootstrap.extension.css"
            "http://unionagency.one/modesto/css/swiper.css"
            "@AppBundle/Resources/assets/css/*"
            output='assets/css/style.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        {% javascripts
            "@AppBundle/Resources/assets/vendor/lazysizes/lazysizes.min.js"
            "@AppBundle/Resources/assets/vendor/jquery/dist/jquery.min.js"
            "@AppBundle/Resources/assets/js/*"
            output='assets/js/script.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
{% endspaceless %}