{% extends 'base.html.twig' %}

{% block title %}{{ file.originName }}{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div style="text-align: center;">
            </div>
        </div>
    </div>

    <div id="wrap">
        <div id="secondary" class="">
            <div id="attach-logo" class="group">
                <a href="/">
                    logo
                </a>
            </div>
            <div id="attachment-owner">
                <h1><a href="#">{{ file.originName }}</a></h1>{% if file.user is not null %} by <a class="url" rel="contact" href="#">{{ file.user.username }}</a>{% endif %}
                <span class="meta"><span class="views">829 views</span></span>
            </div>
        </div>
        <div id="viewer">
            <div id="viewer-img">
                <img src="{{ web_image('/file' ~ file.path) }}" alt="{{ file.alt }}" />
            </div>
        </div>
    </div>

    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': file.file} %}
{% endblock %}