{% extends 'base.html.twig' %}

{% block body %}
    <div class="header-wrapper">

        <!-- HEADER -->
        <div id="header">
            <div class="container_12" itemscope="" itemtype="http://schema.org/Organization">
                <a itemprop="url" href="/" class="giphy-logo">
                    <h4>
                        <span class="giphy-logo-wrapper loaded animate" data-animation="laser">
                            logo
                        </span>
                    </h4>
                </a>



                <!-- BROWSE BAR -->
                <div id="browsebar">
                    <ul class="nav-list" style="background-position-x: 287px;">
                        <li class="nav-item"><a class="nav-link" href="/reactions">Photos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/stickers">Videos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/artists">Gifs</a></li>
                        <li class="nav-item ellipsis">
                            <a class="nav-link ellipsis-link" href="#">
                                <i class="ss-ellipsis"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /BROWSE BAR -->


                <!-- LOGIN PLACEHOLDER -->
                <div class="nav-wrapper">
                    <div class="default-nav" id="default-nav" style="display: block;">
                        <a id="login-button" class="login-join-button" rel="nofollow" href="{{ path('fos_user_security_login') }}"><i class="ss-icon ss-user"></i><span class="nav-text">Log In</span></a>
                    </div>
                    <!-- CREATION BUTTONS -->
                    <div class="creation-buttons">
                        <a class="upload-button" rel="nofollow" href="{{ path('upload') }}">
                            <span class="nav-text">Upload</span>
                        </a>
                        <a class="create-button" rel="nofollow" href="{{ path('pen_new') }}">
                            <span class="nav-text">Create</span>
                        </a>
                    </div>
                    <!-- CREATION BUTTONS -->
                </div>
                <!-- LOGIN PLACEHOLDER -->
                <div class="nav-wrapper">
                    <div class="nav" id="default-nav">
                    </div>
                </div>
            </div>
        </div>
        <!-- /HEADER -->






        <!-- SEARCH BAR -->
        <div class="searchbar-wrapper">
            <div id="searchbar" class="searchbar container_12">
                <form class="search-bar-form" id="searchbarform" action="" method="GET">
                    <input id="search-box" name="q" autocomplete="off" placeholder="Search all the photos, videos or GIFs...">
                    <div class="autocomplete"></div>
                    <button id="search-button" type="submit" class="active"></button>
                </form>
                <div id="typeahead"></div>
            </div>
        </div>
        <!-- /SEARCH BAR -->




    </div>
    <div class="clear"></div>

    {% for image in images %}
        <a href="{{ path('file', {file: image.file}) }}">
            <img class="lazyload" data-src="{{ web_image(image.webPath).zoomCrop(300, 200, '#ffffff', 'center', 'center') }}" alt="" />
        </a>
    {% endfor %}

{% endblock %}
