{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container" class="container">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.file) }}
            <button type="submit">Upload</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
