$bg: #eee;

$deepBlue-20: #CCCED5;
$deepBlue-40: #999EAC;
$deepBlue-60: #666D82;
$deepBlue-80: #333D59;
$deepBlue-100: #000C2F;
$deepBlue-120: #000923;

$blue-20: #D8F5FF;
$blue-40: #B2EBFE;
$blue-60: #8BE1FE;
$blue-80: #65D7FD;
$blue-100: #3ECDFD;
$blue-120: #2F9ABE;

$studioGray-20: #F4F4F5;
$studioGray-40: #E8E9EB;
$studioGray-60: #DDDEE0;
$studioGray-80: #D1D3D6;
$studioGray-100: #C6C8CC;
$studioGray-120: #959699;

$green: #66cc8f;

%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

*,*:before,*:after, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

.notes-wrapper {
    width: 90%;
    margin: 0 auto;
    height: auto;

    .saver-wrap {
        width: 60px;
        height: 60px;
        position: absolute;
        right: 0;
        top: 0;

        @extend %flex;

        .notes-dot {
            width: 10px;
            height: 10px;
            background-color: $studioGray-80;
            border-radius: 50px;
            transition: .1s ease-in-out;

            &.saved {
                background-color: $green;
                transition: .1s ease-in-out;
                transition-delay: 2.10s;
            }
        }

        .rest {
            transform: scale(0);
            clip: rect(0, 30px, 30px, 15px);
            height: 30px;
            width: 30px;
            position: absolute;
            left: calc(50% - 15px);
            top: calc(50% - 15px);

            &.active {
                animation: animate 1.05s linear 2;

                &:after {
                    animation: animate2 1.05s linear 2;
                }
            }

            &:after {
                transform: scale(0);
                clip: rect(0, 30px, 30px, 15px);
                content:'';
                border-radius: 50%;
                height: 30px;
                width: 30px;
                position: absolute;
            }
        }
    }

    .title {
        padding: 25px 30px;
        padding-right: 60px;
        font-weight: 600;
        font-size: 13px;
        position: relative;
    }

    .content {
        padding: 10px 30px;
        padding-bottom: 15px;
        font-weight: 400;
        line-height: 1.4;
        font-size: 14px;

        span.bold {
            font-weight: 700;
        }

        img {
            width: 90%;
            border-radius: 5px;
            margin: 15px 5%;
        }
    }

    .line {
        width: 95%;
        margin: 0 auto;
        height: 1px;
        background-color: $deepBlue-20;
    }

    .comment {
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 13px;
        color: $deepBlue-40;
        position: relative;
    }

    .getImg {
        width: 60px;
        height: 60px;
        cursor: pointer;

        .material-icons {
            line-height: 60px;
            color: $deepBlue-40;
        }
    }
}

@keyframes animate {
    0% {
        transform: scale(1);
        transform: rotate(0deg)
    }
    100% {
        transform: scale(1);
        transform: rotate(220deg)
    }
}

@keyframes animate2 {
    0% {
        box-shadow: inset $studioGray-80 0 0 0 2px;
        transform: rotate(-140deg);
    }
    100% {
        box-shadow: inset $studioGray-80 0 0 0 2px;
        transform: rotate(140deg);
    }
}


/* HEAD MENU */
html:hover [class^="ss-"] {
    -ms-zoom: 1
}

.ss-icon,
[class^="ss-"]:before,
[class*=" ss-"]:before {
    font-family: "SSSocial";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased
}

.ss-icon,
[class^="ss-"]:before,
[class*=" ss-"]:before {
    font-family: "SSStandard";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased
}

.ss-ellipsis:before {
    content: '…'
}

.ss-user:before {
    content: '👤'
}

ul {
    margin: 10px 40px;
    display: block;
    text-align: left
}

a {
    color: #0cf;
    border: none;
    outline: none
}

a:hover {
    color: #0cf
}

.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

button {
    background: #212121;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'interface', 'Helvetica Neue', helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    text-align: center;
    text-transform: none;
}

button:disabled {
    cursor: auto;
    opacity: .5;
    pointer-events: none
}

button:active {
    color: #e5e5e5
}

form {
    font-family: 'interface', 'Helvetica Neue', helvetica, sans-serif;
    font-size: 14px;
}

input {
    width: 100%;
    height: 40px;
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    padding: 0 10px;
    font-family: 'interface', 'Helvetica Neue', helvetica, sans-serif;
}

#browsebar {
    float: left;
    margin: 10px 0 0 14px;
    width: 496px;
}

#browsebar .nav-list {
    margin: 0;
    background: linear-gradient(to right, #0cf, #93f 31%, #e646b6 52%, #fff9aa 77%, #0f9, #0cf);
    background-size: 200% 50%;
    background-position: 0% 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

#browsebar .nav-list .nav-item {
    cursor: pointer;
    float: left;
    height: 36px;
    border-right: 4px solid #121212;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#browsebar .nav-list .nav-item .nav-link {
    font-family: 'interface', 'Helvetica Neue', helvetica, sans-serif;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#browsebar .nav-list .nav-item:before {
    content: '';
    position: absolute;
    background-color: #121212;
    opacity: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 4px;
    z-index: 1;
    -webkit-transition: opacity .35s;
    -moz-transition: opacity .35s;
    -ms-transition: opacity .35s;
    transition: opacity .35s
}

#browsebar .nav-list .nav-item:hover {
    background-color: transparent;
    -webkit-transition: background-color .25s;
    -moz-transition: background-color .25s;
    -ms-transition: background-color .25s;
    transition: background-color .25s;
}

#browsebar .nav-list .nav-item:hover:before {
    opacity: .3
}

#browsebar .nav-list .nav-item.ellipsis {
    border-right: 0;
    width: 4px;
}

#browsebar .nav-list .nav-item.ellipsis:hover:after {
    cursor: pointer;
    opacity: 1;
    height: 33px;
    border-bottom: 3px solid #fff;
    background-color: #e646b6;
    bottom: 0
}

#browsebar .ss-ellipsis {
    display: block;
    height: 15px;
    -webkit-transform: translateZ(0) rotate(90deg);
    -moz-transform: translateZ(0) rotate(90deg);
    -ms-transform: translateZ(0) rotate(90deg);
    transform: translateZ(0) rotate(90deg)
}

input:focus {
    outline: none
}

input {
    padding-left: 10px
}

#header {
    height: 70px;
    padding: 10px 0 0 0;
    position: relative;
    z-index: 499;
    margin-bottom: 25px;
}

#header .giphy-logo {
    float: left;
    margin-top: 12px
}

#header #default-nav {
    display: none
}

#header .default-nav {
    color: #fff;
    float: right;
    font-size: 14px;
    height: 40px;
    margin: 10px 0 0;
}

#header .default-nav a {
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 17px;
    position: relative;
    text-align: center;
    text-transform: none;
    vertical-align: top;
}

#header .default-nav a:active:after {
    content: '';
    width: 100%;
    height: 36px;
    top: 0;
    left: 0;
    background-color: #121212;
    opacity: .05;
    position: absolute
}

#header .default-nav a.login-join-button {
    background-color: #3e3e3e;
    margin-left: 14px;
    min-width: 170px;
    padding-left: 80px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#header .default-nav a.login-join-button:active {
    background-color: #525252;
}

#header .default-nav a.login-join-button:active:after {
    pointer-events: none
}

#header .default-nav a.login-join-button .ss-icon {
    display: block;
    height: 36px;
    left: 0;
    line-height: 40px;
    position: absolute;
    top: 0;
    width: 36px;
}

#header .default-nav a.login-join-button .ss-icon:after {
    content: '';
    width: 36px;
    height: 36px;
    margin-left: -24px;
    position: absolute;
    background-color: #fff;
    opacity: .1
}

#header .creation-buttons {
    float: right;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 14px;
    background-size: 200% 50%;
    background: #6157ff;
    background: -moz-linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
    background: -ms-linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
    background: -o-linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
    background: linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
}

#header .creation-buttons a {
    padding: 8.5px 16px;
    display: inline-block
}

#header .creation-buttons .upload-button {
    border-right: 4px solid #ffffff;
}

#header .creation-buttons .nav-text {
    color: #fff;
    font-family: 'interface', 'Helvetica Neue', helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600
}

.searchbar-wrapper {
    height: 50px;
}

.searchbar-wrapper:after {
    content: '';
    width: 100%;
    display: block;
    clear: both
}

.searchbar {
    position: relative;
    height: 52px;
    background-color: #fbf9f9;
}

.searchbar input,
.searchbar .autocomplete {
    padding: 0 17px;
    font-family: 'interface', 'Helvetica Neue', helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 30px;
    outline: none;
    height: 52px;
    line-height: 40px
}

.searchbar input {
    background: none;
    position: relative;
    z-index: 2;
    width: 776px;
    float: left;
    font-size: 18px
}

.searchbar input::-ms-clear {
    display: none
}

.searchbar button {
    float: right;
    width: 52px;
    height: 52px;
    background-color: #eee;
    text-indent: -999px;
    color: #fff !important;
    cursor: pointer;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.searchbar button:focus {
    outline: none
}

.searchbar .autocomplete {
    position: absolute;
    width: auto;
    border: 0;
    color: #ccc;
    top: 20px;
    z-index: 1;
    height: 60px;
}

.searchbar #typeahead {
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    z-index: 10000;
}
/* END HEAD MENU */










// viewer
div.ad{font-size:13px;line-height:1.5;padding-left:145px;position:relative;min-height:100px}
div.ad>div:not(:first-of-type){display:none}
div.ad a{color: #777 }
div.ad a:hover { color: #444}
div.ad-attach div.ad a{color: #999 }
div.ad-attach div.ad a:hover { color: #bbb }
div.ad a.carbon-img { position: absolute;top: 0;left: 0 }
div.ad a.carbon-img img { border-radius: 2px; box-shadow: 0 0 1px #ccc }
div.ad-attach div.ad a.carbon-img img { box-shadow: none }
div.ad a.carbon-poweredby { display: block;margin-top: 4px;font-size: 12px;text-transform: uppercase;letter-spacing: .03em;font-weight: 500;line-height: 1.5;color: #bbb }
div.ad a.carbon-poweredby:hover { color: #999}
div.ad-attach div.ad a.carbon-poweredby{color: #bbb }
div.ad-shot { position: relative;padding: 35px 0;border-top: 1px solid #ddd }
div.ad-shot div.ad { min-height: 0; padding-left: 0; text-align: center }
div.ad-shot div.ad a.carbon-img { position: static }
div.ad-shot div.ad a.carbon-img img { margin: 0 auto 15px;display: block }
div.ad-shot div.ad a.carbon-poweredby { font-size: 11px }
div.adv-image { float: left;width: 200px }
div.adv-image img { display: block;border-radius: 4px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) }
div.adv-meta { float: right;width: 240px }
div.adv-meta h3.special { margin: 4px 0 15px 0;font-size: inherit } ul.adv-list { list-style: none; margin: 0 0 12px 0; padding: 0 }
div.copy ul.adv-list li { list-style: none; margin: 8px 0 0 0; padding: 8px 10px 0 0; font-size: 13px; line-height: 1.4; color: #666;border-top:1px solid #ddd }
div.copy ul.adv-list li:first-child { margin-top: 0; padding-top: 0; border-top: none }
div.copy ul.adv-list li:last-child { border-top: none }
div.copy ul.adv-list li h4.adv-date-head { margin: 0 0 2px 0;font-size: .9em;text-transform: uppercase;color: #666}
div.ad-price h3{margin:0;font-size:18px;color: #666 }
div.ad-price h3 strong { margin-right: 2px; font-weight: normal; font-size: 1.5em; letter-spacing: -1px; color: #333}
div.ad-price h3 p{margin:0;font-size:13px;line-height:1.4}
div.ad-price h3 em{display:block;font-style:normal;font-weight:bold;color: #ea4c89 }
a:link, a:visited { color: #369;outline:none;text-decoration:none}a:hover{color: #39c }
#secondary { margin: 0 0 20px 0;padding: 0 0 10px 0;border-bottom: 1px solid rgba(255, 255, 255, 0.2) }
#secondary.zoomed { display: none }
#attach-logo { float: left;height: 46px;margin: 0 20px 0 0;padding: 0 20px 0 0;line-height: 1;border-right: 1px solid rgba(255, 255, 255, 0.2) }
#attach-logo img { height: 0 }
#attach-logo a { display: block;width: 76px;height: 46px; }
#attach-logo a:hover { opacity: .75 }
#attachment-owner { float: left;margin: 6px 30px 0 0;font-size: 12px;color: #777}
#attachment-owner h1 { margin: 0 0 5px 0;font-size: 14px;font-weight: 500;line-height: 1.3;white-space: nowrap;overflow: hidden;text-overflow: ellipsis }
#attachment-owner h1 a { color: #bbb }
#attachment-owner h1 a:hover { color: #fff }
#attachment-owner a { color: #999}
#attachment-owner a:hover { color: #bbb }
#attachment-owner a.back { display: block;margin: 8px 0 0 0;text-align: center }
#attachment-owner span.meta { font-size: 12px; line-height: 1.3; font-weight: normal; color: rgba(255, 255, 255, 0.4) }
#attachment-owner span.views { margin: 0 0 0 10px;padding: 0 0 0 18px;background-size: 14px 10px }
#attachments { position: absolute;top: 10px;right: 86px }
#attachments ul li { float: left;margin: 0 0 0 10px }
#attachments ul li a { float: left;display: block;width: 53px;height: 40px;padding: 3px;border-radius: 3px }
#attachments ul li a img { float: left;max-width: 100% }
#attachments ul li a:hover { background: rgba(255, 255, 255, 0.07) }
#attachments ul li.active a { background: #ea4c89 }
div.close-attachments { float: right;height: 46px;margin: 0 0 0 20px;padding: 0 0 0 20px;border-left: 1px solid rgba(255, 255, 255, 0.2) }
div.close-attachments.no-thumbs { border-left: none }
div.close-attachments a { float: right;padding: 10px 0 0 0;height: 25px;width: 25px;background-repeat: no-repeat;background-position: 0 10px; opacity: .5 }
div.close-attachments a:hover { opacity: .8 }
div.close-attachments a img { height: 0 }
#viewer img { display: block;max-width: 100% ;margin: 0 auto;box-shadow: 0 0 20px rgba(0, 0, 0, 0.8) }
#viewer img:hover { cursor: zoom-in }
#viewer img.zoomed { max-width: none }
#viewer img.zoomed:hover { cursor: zoom-out }
#viewer img.not-on-s3 { box-shadow: none }
#viewer div.progress-ring { position: relative;width: 250px;margin: 40px auto }
#viewer div.progress-ring img.cloud { position: absolute;top: 0;left: 0 } @-webkit-keyframes progress { from {-webkit-transform: rotate(0deg) } to {-webkit-transform: rotate(360deg) } }
#viewer img.ring {-webkit-animation: progress 8s infinite linear }
div.message { margin: 0 0 50px 0;padding: 20px }
div.message h2 { width: 60% ;margin: 0 auto;font-size: 18px;font-weight: bold;line-height: 1.3;text-align: center;color: rgba(255, 255, 255, 0.5) }
div.ad-attach div.ad { max-width: 350px;
    margin: 100px 0 0 0 }
div.ad-attach div.ad a.flag { color: #bbb }
div.ad-attach div.ad a.flag:hover { color: #fff }
div.ad-attach div.ad p a { font-weight: 500;
    color: #bbb }
div.ad-attach div.ad p a:hover { color: #fff } hr, .hide { display: none } a img { border: none }
#secondary:after, .group:after { content: ".";display: block;height: 0;clear: both;visibility: hidden }*:first-child + html.group { min-height: 1px } @media only screen and(max-width: 800px) {
    #attach-logo { display: none }
    #attachment-owner { float: none;margin: 5px 0 }
    #attachments { position: static;top: auto;right: auto;padding-top: 15px;border-top: 1px solid rgba(255, 255, 255, 0.2) }
    #attachments ul { width: 100% }
    #attachments ul li { float: left;width: 16% ;margin-left: 5% }
    #attachments ul li:first-child { margin-left: 0 }
    #attachments ul li a { width: auto;height: auto }
    div.close-attachments { border-left: none }
    div.close-attachments a { padding-top: 5px; background-position: 0 5px }

    #attachment-owner a img { float: left;margin: 0 8px 0 0 }
    #viewer img { margin-bottom: 20px } }
#attachments { right: 20px }
div.close-attachments { display: none }