{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container" class="container">

            <h2>Collection</h2>
            <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
            <p>Name: {{ collection.name }}</p>
            <p>Description: {{ collection.description }}</p>

        </div>
    </div>
{% endblock %}
