{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container" class="container">

            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                <button type="submit">create</button>
            {{ form_end(form) }}

            <h2>Collections</h2>
            <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Desc</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for collection in app.user.collections %}
                        <tr>
                            <td>{{ collection.name }}</td>
                            <td>{{ collection.description }}</td>
                            <td>&nbsp;</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
